.ItemListContainer{
    width: 100%;
   background: linear-gradient(90deg, rgba(208,170,148,0.9651932061887255) 0%, rgba(120,41,41,0.5002072117909664) 100%)
}
h2{
    text-align: center;
    padding: 70px;
    font-size: 2rem;
}